<div class="stanford-header">
    <h1 class="header">
        <span class="red">Match15:</span> Seniors looking for Seniors
    </h1>
</div>
<h4 class="subheader">
    Hi {{firstName}}, submit up to 15 seniors you would like to get to know better.
    <br> Whether it’s for love, lust, or friendship, you will have one week before graduation to kick things off!

</h4>

<accordion>
    <accordion-group heading="How it works" is-open="showRules">
        Choose up to 15 Stanford seniors you still want to get to know, whether it’s for love, lust, or friendship--maybe you’ll get lucky and find all three!
        <br>
        <ul>
            <li>Choose as many or as few seniors as you like</li>
            <li>Choose seniors of any gender</li>
            <li>Choose seniors you already know, you want to get to know, you have a crush on, or you find interesting</li>
            <li>You do you</li>
        </ul>
        If you both choose each other, then Match15 will connect you through an email.
        <br>
        So go ahead and reach out, chances are it’s mutual.
        <br>
        <br>
        Choose wisely though, you <b>can't update your choices after submitting</b>.
        <br>
        Submissions are due <b>Thursday, June 4th at 11:57 pm</b> and matches will be released sometime on <b>Sunday, June 7th</b>.
        <br>
        <br>
        <h4>Can't find who you are looking for?</h4>
        Try typing in their <b>last name</b>.
        <br>
        Stanford servers don't recognize nicknames unfortunately.

        <br>Contact us at <a href="mailto:stanfordmatch15@gmail.com?Subject=Match15%20questions" target="_top">stanfordmatch15@gmail.com</a>
    </accordion-group>
</accordion>



<form name="choiceForm" ng-hide="alreadySubmitted || justSubmitted">

    <div class="field" ng-repeat="choice in choicesLust">
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.atStanford && choiceForm[choice].$touched">
            {{choiceForm[choice].$viewValue}} doesnt even go here
        </div>
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.noDoubles && choiceForm[choice].$touched">
            Can't choose {{choiceForm[choice].$viewValue}} more than once
        </div>
        <input class="form-control" name="{{choice}}"  ng-model="user[choice]" autocomplete="off"
               ng-model-options="{updateOn: 'default blur', debounce: { default: 100, blur: 0 }}"
               type="text" typeahead="name as name.name for name in namesEmails | filter:$viewValue:startsWith | limitTo:8" do-you-even-go-here no-doubles>
    </div>

    <div class="field" ng-repeat="choice in choicesFriends">
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.atStanford">
            {{choiceForm[choice].$viewValue}} doesnt even go here
        </div>
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.noDoubles">
            Can't choose {{choiceForm[choice].$viewValue}} more than once
        </div>
        <input class="form-control" name="{{choice}}"  ng-model="user[choice]" autocomplete="off"
               ng-model-options="{updateOn: 'default blur', debounce: { default: 100, blur: 0 }}"
               type="text" typeahead="name as name.name for name in namesEmails | filter:$viewValue:startsWith | limitTo:8" do-you-even-go-here no-doubles>
    </div>

    <input class="btn btn-danger btn-lg submit-button" ng-disabled="choiceForm.$invalid" data-ng-click="open()" type="button" value="Find me a match" />
</form>

<div ng-show="alreadySubmitted || justSubmitted" class="jumbotron">

    <h3 ng-show="alreadySubmitted">Looks like you already submitted your choices, its match 15 not 30!</h3>
    <h3 ng-show="justSubmitted">Thanks for submitting your choices. Hope you kill the game.</h3>

    <ul>
        <li class="submitted-choices" ng-repeat="choice in submittedChoices">
            <p class="choice">{{choice}}</p>
        </li>
    </ul>

</div>

<div id="userName">
    <!--#echo var="WEBAUTH_LDAP_DISPLAYNAME" -->
</div>
<div id="userEmail">
    <!--#echo var="WEBAUTH_LDAP_MAIL” -->
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm your choices</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li class="submitted-choices" ng-repeat="choice in submittedChoices">
                <p class="choice">{{choice}}</p>
            </li>
        </ul>
        <p>Remember, you may only submit once <br> Good luck ;)</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Go back</button>
        <button class="btn btn-danger" ng-click="ok()">OK</button>
    </div>
</script>