
<h1 class="header">
    Match15: Seniors looking to make up for lost time
</h1>

<h4>
    Choose up to 15 seniors you want to connect with before the dream ends. <br>
    If they also pick you, Match15 will connect you automatically.
</h4>
<form name="choiceForm">


    <div class="field">
        <div class="alert alert-danger" role="alert" ng-if="choiceForm.choice0.$error.atStanford">
            {{choiceForm.choice0.$viewValue}} doesnt even go here yo
        </div>
        <input class="form-control" name="choice0"  ng-model="choice1" autocomplete="off"
               placeholder="future friend" ng-model-options="{updateOn: 'default blur', debounce: { default: 900, blur: 0 }}"
                typeahead-wait-ms="400" type="text" typeahead="name as name.name for name in namesEmails | filter:$viewValue | limitTo:8" do-you-even-go-here>

    </div>


    <input class="btn btn-primary btn-lg submit-button" ng-disabled="choiceForm.$invalid" data-ng-click="submitChoices()" type="button" value="Matchmaker make me a match" />
</form>



