
<h1 class="header">
    Match15: Seniors looking to make up for lost time
</h1>

<h4 class="subheader">
    Choose up to 15 seniors you want to meet up with before the dream ends.
</h4>
<div ng-hide="loggedIn">
    <input class="form-control" placeholder="fake login for testing only" ng-model="fakename">
    <button type="button" class="btn btn-primary" ng-click="login()" >
        Login
    </button>
</div>



<accordion ng-hide="!loggedIn">
    <accordion-group heading="How it works" is-open="status.showRules">
        Choose up to 15 Stanford seniors you would've liked to get to know more over these years.
        Feel free to choose people in hopes to find love, lust and friendship.
        If you both choose each other, then Match15 will connect you through an email!
        <br>        <br>


        Choose wisely though, you can't update your choices after submitting
        <br>                       <br>


        <h4>Can't find who you are looking for?</h4>
        Try typing their last name.
        Stanford severs don't contain nick names unfortunately
    </accordion-group>
</accordion>



<form name="choiceForm" ng-hide="alreadySubmitted || justSubmitted || !loggedIn">

    <h3>Hi, {{username}}</h3>

    <div class="field" ng-repeat="choice in choicesLust">
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.atStanford && choiceForm[choice].$touched">
            {{choiceForm[choice].$viewValue}} doesnt even go here
        </div>
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.noDoubles && choiceForm[choice].$touched">
            Can't choose {{choiceForm[choice].$viewValue}} more than once
        </div>
        <input class="form-control" name="{{choice}}"  ng-model="user[choice]" autocomplete="off"
               placeholder="old crush" ng-model-options="{updateOn: 'default blur', debounce: { default: 100, blur: 0 }}"
               type="text" typeahead="name as name.name for name in namesEmails | filter:$viewValue:startsWith | limitTo:8" do-you-even-go-here no-doubles>
    </div>

    <div class="field" ng-repeat="choice in choicesFriends">
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.atStanford">
            {{choiceForm[choice].$viewValue}} doesnt even go here
        </div>
        <div class="alert alert-danger" role="alert" ng-if="choiceForm[choice].$error.noDoubles">
            Can't choose {{choiceForm[choice].$viewValue}} more than once
        </div>
        <input class="form-control" name="{{choice}}"  ng-model="user[choice]" autocomplete="off"
               placeholder="future friend" ng-model-options="{updateOn: 'default blur', debounce: { default: 100, blur: 0 }}"
               type="text" typeahead="name as name.name for name in namesEmails | filter:$viewValue:startsWith | limitTo:8" do-you-even-go-here no-doubles>
    </div>

    <input class="btn btn-primary btn-lg submit-button" ng-disabled="choiceForm.$invalid" data-ng-click="open()" type="button" value="Find me a match" />
</form>

<div ng-show="alreadySubmitted || justSubmitted" class="jumbotron">

    <h3 ng-show="alreadySubmitted">Looks like you already submitted your choices, its match 15 not 30!</h3>
    <h3 ng-show="justSubmitted">Thanks for submitting your choices. Hope you kill the game.</h3>

    <ul>
        <li class="submitted-choices" ng-repeat="choice in submittedChoices">
            <p class="choice">{{choice}}</p>
        </li>
    </ul>

</div>

<div id="userName">
    <!--#echo var="WEBAUTH_LDAP_DISPLAYNAME" -->
</div>
<div id="userEmail">
    <!--#echo var="WEBAUTH_LDAP_MAIL” -->
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm your choices</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li class="submitted-choices" ng-repeat="choice in submittedChoices">
                <p class="choice">{{choice}}</p>
            </li>
        </ul>
        <p>Good luck ;)</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Go back</button>
    </div>
</script>